# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Python logs
*.log

# Dependencies
*.egg-info/
